body{
  background-color:rgb(141, 221, 234);
}
.addCart{
  
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(1, 54, 43);
  text-align:center;
}
.menu{
  margin-top:3rem;
  width :90rem;
  height:35rem;
  margin-left:2rem;
  margin-right:2rem;;
}