body{
  background-color:rgb(200, 225, 228);
}
.addCart{
  margin-left:40%;
  font-family:Arial, Helvetica, sans-serif;
  color:rgb(35, 5, 36);
  text-align:center;
}
.button2{
  background-color: rgb(1, 22, 31);
  color:aliceblue;
   width:7rem;
   height:4rem;
   border:1px solid black;
   border-radius: 0.5rem;
   margin-left:3rem;
   cursor:pointer;
 }
 .button2:hover{
   background-color: aliceblue;
   color:rgb(1, 22, 31);
    width:7rem;
    height:4rem;
    border:1px solid black;
    border-radius: 0.5rem;
    margin-left:3rem;
    cursor:pointer;
    transition: 2ms ;
  }
.button1{
 background-color: rgb(1, 22, 31);
 color:aliceblue;
  width:7rem;
  height:4rem;
  border:1px solid black;
  border-radius: 0.5rem;
  margin-left:36rem;
  cursor:pointer;
}
.button1:hover{
  background-color: aliceblue;
  color:rgb(1, 22, 31);
   width:7rem;
   height:4rem;
   border:1px solid black;
   border-radius: 0.5rem;
   margin-left:36rem;
   cursor:pointer;
   transition: 2ms ;
 }
.menu{
  margin-top:3rem;
  width :90rem;
  height:35rem;
  margin-left:2rem;
  margin-right:2rem;;
}
.Nothing{
  float:left;
  margin-left:40%;
  margin-top:5rem;
  font-size:2rem;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}
.Nothing1{
  float:left;
  margin-top:7rem;
  margin-left:40%;
  color:black;
  font-size:2rem;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
}
.ProductItem{
  float:left;
  width:40%;
  height:6rem;
  border:1px solid black;
  border-radius:0.5rem;
  background-color:rgb(1, 35, 50);
  font-family: Arial, Helvetica, sans-serif;
  color:whitesmoke;
  margin-top:1.4rem;
  margin-left:4rem;
  box-shadow: 8px 8px 8px rgb(1, 35, 50);
}
.product{
  margin-left:1rem;
  margin-top:0.02rem;
}
.productDetail{
  margin-top:1rem;
  color:rgb(41, 255, 237);
}
.flexClass{
  display:flex;
}
.buttons{
  display:flex;
  flex-wrap:nowrap;
  width:1rem;
  height:1rem;
  border:1px solid black;
  background-color: whitesmoke;
  color:black;
  margin-left:8rem;
  margin-top:2rem;

}
.individualbutton{
  font-size:15px;
  cursor:pointer;
}
.individualbutton:hover{
  background-color: rgb(1, 21, 27);
  color:aliceblue;
  font-size:15px;
  cursor:pointer;
}
.productButton{
  margin-left:0.5rem;
  color:aliceblue;
  margin-right:0.5rem;
  
  
}

.productflex{
  display:flex;
}
.notification{
  color:azure;

 
  font-size:2rem;
}
.header{
  display:flex;
}
@media screen and (max-width: 992px) {
  .ProductItem {
    float:left;
    margin-left:1.5rem;
  }
}

@media screen and (max-width: 660px) {
  .ProductItem {
    width: 100%;
  }
}